<body>
<div id="parallaxContent">
    <div class="container-fluid flex-center text-center jumbotron-parallax">
        <div class="title-jumbotron">
            <h2 class="entry-title fontDancingScript">
                Music & Web
            </h2>
            <h1 class="display-3 font-weight-bold mb-2 text-uppercase entry-title2 fontAlegryaSans">
                nicolas sibaud
            </h1>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br/>
                    <a id="btnDiscover"
                       type="button"
                       class="btn btn-discover btn-rounded font-weight-bold text-uppercase fontDancingScript"
                       href="#start"
                    >
                        En savoir plus
                    </a>

                </div>
            </div>
            <div id="start" class="startAnchor"></div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="borderStyle">
            <h1 class="font-weight-bold text-uppercase titleContent anim fontAlegryaSans" id="showPresentationContentTitle">
                A propos de moi
            </h1>
            <div class="row presentationPaddingTop">
                <div class="col-6 block-center">
                    <div class="showMe anim" id="profileCard" data-delay="0.5s">
                        <div class="card cardStyle">
                            <img class="card-img-top" src="./vendor/resources/img/img_avatar.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize fontDancingScript">Nicolas sibaud</h5>
                                <p class="card-text fontHind">
                                    Je suis passionné depuis ma tendre enfance de l'univers musical et informatique.
                                    Il est alors impossible pour moi de ne pas mettre en avant ces deux passions.
                                    Ce que j'apprécie par dessus tout c'est le contact humain et parvenir à réaliser de belles aventures.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link"><span class="fab fa-facebook-square socialButton"></span></a>
                                <a href="#" class="card-link"><span class="fab fa-instagram socialButton"></span></a>
                                <a href="#" class="card-link"><span class="fab fa-linkedin socialButton"></span></a>
                                <a href="#" class="card-link"><span class="fab fa-youtube socialButton"></span></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-6 anim" id="services" data-delay="0s">
                    <div class="row">
                        <!-- Single Service -->
                        <div class="single-service">
                            <i class="fas fa-compact-disc"></i>
                            <h4 class="fontDancingScript">M.A.O</h4>
                            <p class="fontHind">

                                Besoin d'une virgule, d'une track, d'ambiance, d'intégration vidéo ?<br/>
                                N'hésitez pas à me contacter et collaborons !
                                <br/>
                                <span class="contactMe">
                                <a href="#"> Me contacter</a>
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <!-- Single Service -->
                        <div class="single-service">
                            <i class="fa fa-gears"></i>
                            <h4 class="fontDancingScript">Développement web</h4>
                            <p class="fontHind">
                                Besoin d'un site internet vitrine, un portefolio, e-shop, ou autre ?    <br/>
                                Parlons de vos besoins ensemble et collaborons !
                                <br/>
                                <span class="contactMe">
                                <a href="#"> Me contacter</a>
                            </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <br>

    <div id="separatorMusic" class="separatorMusic"></div>
    <div id="music" class="musicAnchor"></div>

    <br/>
    <div class="container">
        <div class="borderStyle2">
            <div id="showMusicContent">
                <h1 class="font-weight-bold text-uppercase titleContent anim fontAlegryaSans" id="showMusicContentTitle">
                    créations musicale
                </h1>
                <!-- Lecteurs soundcloud   -->
                <div class="soundcloud">
                    <div class="row">
                        <div id="soundcloudplayer1" class="col anim" style="padding-left: 25px;">
                            <iframe class="soundcloudPlayer"
                                    scrolling="no"
                                    frameborder="no"
                                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/584963262&color=%2392319a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                            </iframe>
                        </div>
                        <div id="content-soundcloud-right" class="col-md-auto anim" data-delay="0.5s">
                            <h1 class="soundcloudPlayer-right-text-h1 fontDancingScript">Soundtrack - piano</h1>
                            <p class="soundcloudPlayer-right-text-p fontEBGaramond">
                                Improvisation piano enregistré avec logic pro X
                                <br/>
                                <br/>
                                <br/>
                                <i>J'aime l'improvisation du jazz et du classique.
                                    <br/>
                                    Tu captes une vibration et tu fais comme si de rien n'était.</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionMain">
                <div class="row" style="padding: 55px;">
                    <div class="col anim" id="soundcloudplayer3">
                        <iframe width="100%"
                                height="300"
                                scrolling="no"
                                frameborder="no"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/587038731&color=%234f443e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                    <div class="col anim" id="soundcloudplayer2">
                        <iframe width="100%"
                                height="300"
                                scrolling="no"
                                frameborder="no"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/628956150&color=%234f443e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                    <div class="col anim" id="soundcloudplayer4">
                        <iframe width="100%"
                                height="300"
                                scrolling="no"
                                frameborder="no"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/596406438&color=%23548090&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br/>

    <div id="separatorWeb" class="separatorWeb"></div>
    <div id="web" class="webAnchor"></div>
    <div class="container">
        <h1 class="font-weight-bold text-uppercase titleContent anim fontAlegryaSans" id="showWebContentTitle">
            créations web
        </h1>
        <p class="text-center">
            <a target="_blank" href="http://www.jokeromagicien.com/" style="outline: none;text-decoration: none; color: #0e0e0e">Lien vers le site de Tito Vasquez</a>
        </p>
        <br>
        <br>
        <br>
        <div class="container-web">
        <span class="container-web-text font-weight-bold text-dark fontMontserratAlternates anim" id="text-site-tarik">
            <i class="fas fa-quote-left"></i>  J'avais demander à Nicolas de me crée un site internet pour pouvoir gérer mes rdv de prestation et me lancer en tant que magicien pro.
            Je suis loin d'etre déçu ! Il a su répondre à mes demandes à la perfection et me crée un site simple pour moi et mes clients !
        </span>
            <span class="container-web-image anim" id="image-tarik">
            <img src="./vendor/resources/img/tarik.png" alt="tarik"/>
        </span>
            <span class="container-web-site-capture anim" id="screenshot-site-tarik">
            <img src="./vendor/resources/img/capture_site_tarik.PNG" class="container-web-site-screenshot" alt="site-tarik"/>
        </span>
        </div>
    </div>

    <div id="separatorContact" class="separatorContact"></div>
    <div id="contact" class="contactAnchor"></div>

    <section class="contactBackground">
        <div class="container">
            <h1 class="font-weight-bold text-uppercase titleContent anim fontAlegryaSans" id="showContactContentTitle">
                Me contacter
            </h1>
            <div class="row">
                <div class="col-md-4 anim" id="contactBox1">
                    <div class="contact-box">
                        <ul class="list-inline">
                            <li>
                                <div class="contact">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>Limay, 78520 </p>
                                </div>
                            </li>
                            <li>
                                <div class="contact">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <p> toto@free.fr <br> Nix Web & Music </p>
                                </div>
                            </li>
                            <li>
                                <div class="contact">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <p> +33 ..... <br> +33 .... </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 anim" id="contactBox2">
                    <div class="form-box-inner">
                        <form action="" method="">
                            <div class="form-group">
                                <input type="text" class="form-control" name="" value="" placeholder="Votre nom">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="" value="" placeholder="Votre email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="" value="" placeholder="Votre téléphone">
                            </div>
                            <div class="form-group">
                                <textarea rows="4" cols="50" class="form-control" placeholder="Votre demande..."></textarea>
                            </div>
                            <button class="btn custom-button"> Envoyer </button>
                        </form>
                    </div>
                </div>

                <div class="col-md-4 anim" id="contactBox3">
                    <div class="map-box">
                        <iframe style="margin-left: -8px;" width="600" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=limay&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

</body>

