<nav id="navigationBar" class="fixNavBar navbar navbar-expand-lg sticky-top " >
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo">
        <img src="./vendor/resources/img/logo.PNG" style="width: 100px; height: 60px; border-radius: 3px;"/>
    </div>
    <div class="menu navbar-collapse justify-content-end" id="Toogle">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="#start">A propos</a>
            </li>
            <li class="nav-item">
                <a href="#music" class="nav-link">Musique</a>
            </li>
            <li class="nav-item">
                <a href="#web" class="nav-link">Web</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">Me contacter</a>
            </li>
        </ul>
    </div>
</nav>
